<#@ template language="C#" #>
<#@ assembly name="System.Core" #>
<#@ import namespace="System.IO" #>
<#@ import namespace="System" #>
<#@ import namespace="System.Linq" #>
<#@ output extension=".md" #>
<#@ template hostspecific="true" #>

<#
var path = Host.ResolvePath("./Screen");
var files = new DirectoryInfo(path).GetFiles("*.png");
foreach(var file in files) {  #>
![](Screen/<#= file.Name #>)
<# } #>
